language: generic
sudo: required
services:
  - docker

before_install:
  - docker build -t pedrovitorlima/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true pedrovitorlima/react-test npm test
  
after_success:
  - docker build -t pedrovitorlima/multi-client ./client
  - docker build -t pedrovitorlima/multi-nginx ./nginx
  - docker build -t pedrovitorlima/multi-server ./server
  - docker build -t pedrovitorlima/multi-worker ./worker
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_LOGIN" --password-stdin
  - docker push pedrovitorlima/multi-client
  - docker push pedrovitorlima/multi-nginx
  - docker push pedrovitorlima/multi-server
  - docker push pedrovitorlima/multi-worker
  