language: generic
sudo: required
services:
  - docker

before_install:
  - docker build -t pedrorodrigues/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true pedrorodrigues/react-test npm test
  
after_success:
  - docker build -t pedrorodrigues/multi-client ./client
  - docker build -t pedrorodrigues/multi-nginx ./nginx
  - docker build -t pedrorodrigues/multi-server ./server
  - docker build -t pedrorodrigues/multi-worker ./worker
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_LOGIN" --password-stdin
  - docker push pedrorodrigues/multi-client
  - docker push pedrorodrigues/multi-nginx
  - docker push pedrorodrigues/multi-server
  - docker push pedrorodrigues/multi-worker
  